@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --foreground: #09090b;
    --background: #ffffff;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: #ffffff;
      --background-rgb: #09090b;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }
}
